{% extends "padre.html" %}

{% load static %}

{% block contenido %}

    <main class="contenedor-tarjetas">
        <div class="campo letra-formulario">
            <h1>Alumnos</h1>
        </div>
        <div class="container-lg">
            <div class="row align-items-start">
                
                <div class="card w-25 mb-3">
                    <img src="{% static 'AppCoder/assets/img/testimonials-1.jpg' %}"/>
                    <div class="card-body">
                        <h5 class="card-title">Fernanda Lopez</h5>
                        <p class="card-text">El mejor curso gracias</p>
                        <textarea name="mensaje" id="mensaje" cols="25" rows="1"></textarea>
                        <a class="btn btn-info" href="">Enviar</a>
                        
                    </div>
                </div>    
            
                <div class="card w-25 mb-3">
                    <img src="{% static 'AppCoder/assets/img/testimonials-2.jpg' %}"/>
                    <div class="card-body">
                        <h5 class="card-title">Ramon Perez</h5>
                        <p class="card-text">Me gusto mucho el curso</p>
                        <textarea name="mensaje" id="mensaje" cols="25" rows="1"></textarea>
                        <a class="btn btn-info" href="">Enviar</a>
                    </div>
                </div>
            
                <div class="card w-25 mb-3">
                    <img src="{% static 'AppCoder/assets/img/testimonials-3.jpg' %}"/>
                    <div class="card-body">
                        <h5 class="card-title">Monica Torres</h5>
                        <p class="card-text">Una gran oportunidad</p>
                        <textarea name="mensaje" id="mensaje" cols="25" rows="1"></textarea>
                        <a class="btn btn-info" href="">Enviar</a>
                    </div>
                </div>    
                    
                <div class="card w-25 mb-3">
                    <img src="{% static 'AppCoder/assets/img/testimonials-4.jpg' %}"/>
                    <div class="card-body">
                        <h5 class="card-title">Elioth Mendez</h5>
                        <p class="card-text">Supero mis espectativas</p>
                        <textarea name="mensaje" id="mensaje" cols="25" rows="1"></textarea>
                        <a class="btn btn-info" href="">Enviar</a>
                    </div>
                </div>   

            </div>  
        </div>
    </main>
    {% if  request.user.is_authenticated %}
    
    <div class="container position-relative letra-formulario">
        <h1>Agregar un nuevo alumno</h1>
        <form action="{% url 'alta_alumnos' %}" method="POST">
            {% csrf_token %}
            <div class="campo">
                <p>Nombre:</p>
                <input type="text" name="nombre" required>
            </div>

            <div class="container">
                <div class="campo">
                    <p>Edad</p>
                    <input type="number" name="edad" required>
                </div>
                <div class="campo">
                    <p>Email</p>
                    <input type="email" name="email" required>
                </div><br>
                <div class="botones_act">
                    <div class="campo">
                        <button type="submit" class="btn btn-dark border-info text-info btn-sm">Guardar Alumno</button>
                    </div>
                   
                </div><br>
            </div>                        
        </form>
    </div>
    <div class="campo " >
        <h3  class="letra-formulario">Aqui estan los alumnos inscritos </h3>
        <a href="{% url 'ver_alumnos' %}" class="btn btn-dark border text-info border-info rounded btn-sm">Alumnos inscritos</a>
    </div><br>
    {% endif %}

{% endblock %}










