
{% extends "padre.html" %}

{% load static %}
        
{% block contenido %}

    {% comment %} Tarjetas {% endcomment %}
    <main class="contenedor-tarjetas">
        <div class="container-lg">
            <div class="row align-items-start">

                <div class="card w-25 mb-3">
                    <img src="{% static 'AppCoder/assets/img/Profe_front_end.jpg' %}"/>
                    <div class="card-body">
                        <h5 class="card-title">Daniel Suarez</h5>
                        <h6 class="card-title">Profesor Front end</h6>
                        <p class="card-text">Experto en desarrollo de interfaces de usuario con HTML, CSS y JavaScript. Especializado en diseño web responsivo y frameworks como React y Angular.</p>
                        <a class="btn btn-danger" href="">Ver</a>
                    </div>
                </div>    
            
            
                <div class="card w-25 mb-3">
                    <img src="{% static 'AppCoder/assets/img/Profe_back_end.jpg' %}"/>
                    <div class="card-body">
                        <h5 class="card-title">Sofia Vera</h5>
                        <h6 class="card-title">Profesora Back end</h6>
                        <p class="card-text">Soy experto en desarrollo de sistemas robustos con Python, Java o Node.js. Especializado en arquitectura de software, bases de datos, diseño de APIs.</p>
                        <a class="btn btn-danger" href="">Ver</a>
                    </div>
                </div>
            
                <div class="card w-25 mb-3">
                    <img src="{% static 'AppCoder/assets/img/Profe_diseño.jpg' %}"/>
                    <div class="card-body">
                        <h5 class="card-title">Eduardo Diaz</h5>
                        <h6 class="card-title">Profesor de diseño</h6>
                        <p class="card-text">Creativo y visionario, con experiencia en diseño web y de interfaces de usuario. Especializado en herramientas como canva,  photoshop e  illustrator.</p>
                        <a class="btn btn-danger" href="">Ver</a>
                    </div>
                </div>    
                    
                <div class="card w-25 mb-3">
                    <img src="{% static 'AppCoder/assets/img/Profe_lengua.jpg' %}"/>
                    <div class="card-body">
                        <h5 class="card-title">Carlos Rivera</h5>
                        <h6 class="card-title">Profesor de Lenguajes</h6>
                        <p class="card-text">Experto en diversos lenguajes como Python, Java y JavaScript. Capaz de enseñar conceptos fundamentales de programación y resolver problemas complejos.</p>
                        <a class="btn btn-danger" href="">Ver</a>
                    </div>
                </div>  

            </div>  
        </div>
    </main>

    {% comment %} Formulario {% endcomment %}
    <div class="container position-relative">
        <h1>Ingreso de Datos de Profesores</h1>
        <form action="{% url 'alta_profesores' %}" method="POST">
            {% csrf_token %}
            <div class="campo">
                <p>Nombre:</p>
                <input type="text" name="nombre" required>
            </div>

            <div class="container">
                <div class="campo">
                    <p>Asignatura</p>
                    <input type="text" name="asignatura" required>
                </div>
                <div class="campo">
                    <p>Email</p>
                    <input type="email" name="email" required>
                </div>
                <div class="campo">
                    <button type="submit" class="btn btn-success btn-sm">Guardar Profesor</button>
                    <a href="{% url 'ver_profesores' %}" class="btn btn-info btn-sm">Profesores ok</a>
                </div>
            </div>                        
        </form>
    </div>

   
{% endblock %}
      
        

    



    



