
{% extends "padre.html" %}

{% load static %}

{% block contenido %}
    <header class="masthead">
        <div class="container position-relative letra-formulario">
            <h2>Buscar Cursos</h2>
            <form action="buscar" method="GET">
                <div class="campo">
                    <p>Nombre:</p>
                    <input type="text" name="nombre" id="nombre">
                </div>
                <div class="container">
                    <div class="campo">
                        <p>Camada</p>
                        <input type="number" name="camada" required>
                    </div><br>
                    <div class="campo">
                        <button type="submit" class="btn btn-info btn-sm">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </header>
{% endblock %}

     