
{% extends "padre.html" %}

{% load static %}

{% block contenido %}


    <section class="features-icons text-center">
        <div class="campo letra-formulario">
            <h1>Nuestros nuevos cursos</h1>
        </div><br>
        
        <div class="container">
            <div class="row">
                <div class="card col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><img class="bi-layers m-auto text-primary" src="static/AppCoder/assets/img/asistente-de-ai.png" alt=""></div><br><br>
                        <h3>Curso IA prompt</h3>
                        <p class="lead mb-0">
                            El curso de IA de Prompt te enseñamos desde lo básico hasta aplicaciones avanzadas, con proyectos prácticos y herramientas como TensorFlow y PyTorch e inteligencia artificial.</p>
                    </div>
                </div>
                <div class="card col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><img class="bi-layers m-auto text-primary" src="static/AppCoder/assets/img/base-de-datos.png" alt=""></i></div><br><br>
                        <h3>Curso bases de datos</h3>
                        <p class="lead mb-0">
                            Curso de bases de datos: Introducción y aplicación práctica de fundamentos esenciales para comprender y trabajar con bases de datos como Mysql, MongoDB y SQlite</p>
                    </div>
                </div>
                <div class="card col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><img class="bi-layers m-auto text-primary" src="static/AppCoder/assets/img/python.png" alt=""></div><br><br>
                        <h3>Curso python</h3>
                        <p class="lead mb-0">
                            Aprende programación desde cero utilizando el lenguaje Python, con énfasis en conceptos fundamentales y aplicaciones prácticas con django</p>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="container">
            <h1 class="text-xl-center title margen-lados letra-formulario">Cursos</h2>
            <a href="alta_curso" class="btn btn-info btn-sm">Nuevo curso</a>
            <a href="buscar_curso" class="btn btn-dark text-info btn-sm">Buscar curso</a>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>nombre</th>
                        <th>camada</th>
                        <th></th>
                        <th></th>
                    </tr>            
                </thead>
                <tbody>
                    {% for n in cursos %}
                    <tr>
                        <td> {{n.id}}</td>
                        <td>{{n.nombre}}</td>
                        <td>{{n.camada}}</td>
                        <td><a href="{% url 'editar_curso' n.id %}" class="btn text-info btn-sm" >Editar</a></td>
                        <td><a href="{% url 'elimina_curso' n.id %}" class="btn text-danger btn-sm">Borrar</a></td>
                    </tr>
                    {% endfor %}  
                </tbody>
            </table>
        </div>
        
    </section>
{% endblock %}
        
       


    