{% extends "padre.html" %}
{% load static %}

{% block contenido %}


    <header class="masthead">
        <div class="container position-relative letra-formulario">
            <h2>Editar Perfil {{usuario}}</h2>

            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    {{miFormulario.as_table}}
                </table>
                <button type="submit" class="btn btn-info btn-sm">Aplicar</button>
            </form>
        </div>
    </header> 
   
{% endblock %}