{% extends "padre.html" %}
{% load static %}

{% block contenido %}
   
   <div class="container">  
        <div class="fila-perfil margen-lados" >
            <div class="card col-4">
                <img src="{% static 'AppCoder/assets/img/testimonials-2.jpg' %}"/>
            </div>
            <div class="bloque-perfil">
                <h5 class="card-title">{{usuario}}</h5>
                <p class="card-text letra-formulario">Me gusto mucho el curso</p>
                
                <div class="fila-perfil">
                    <a class="btn btn-secondary" href="">Enviar mensaje</a>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="menu_principal" type="submit">logout</button>
                    </form>
                    <a href="{% url 'EditarPerfil' %}" class="btn btn-info">Editar</a>
                </div> 
            </div>
        </div>
    </div>
    

{% endblock %}