{% extends "padre.html" %}

{% load static %}
        
{% block contenido %}
        <header class="masthead">
            
            <div class="container position-relative letra-formulario">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="campo">
                        <h2>Iniciar sesión</h2>
                        {{ form.as_p }}
                        <button class="btn btn-info rounded btn-sm" type="submit">Iniciar Sesión</button>
                    </div>
                </form>  
                 
            </div>
        </header>
        
{% endblock %}
      
       

    





