{% extends "padre.html" %}

{% load static %}
        
{% block contenido %}
      
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('static/AppCoder/assets/img/nosotros1.png')"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Nuestras Academia</h2>
                    <p class="lead mb-0">En Cursagia, estamos dedicados a ser el faro guía para todos los que buscan explorar y dominar el vasto mundo de la tecnología. Desde nuestro humilde comienzo, nos hemos comprometido a brindar educación de calidad y oportunidades de aprendizaje flexibles y accesibles para todos.</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-white showcase-img" style="background-image: url('static/AppCoder/assets/img/nosotros2.png')"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Nuestro equipo</h2>
                    <p class="lead mb-0">Nuestro equipo está formado por apasionados expertos en tecnología, cada uno comprometido a compartir su conocimiento y experiencia para inspirar y capacitar a la próxima generación de innovadores. Creemos en el poder transformador de la educación y nos esforzamos por ofrecer cursos virtuales de última generación que abarquen una amplia gama de temas tecnológicos, desde programación y desarrollo web hasta inteligencia artificial y ciencia de datos.</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('static/AppCoder/assets/img/nosotros7.png')"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Nuestro compromiso social</h2>
                    <p class="lead mb-0">En Cursagia, nos comprometemos a crear una comunidad inclusiva y colaborativa donde cada estudiante se sienta apoyado y motivado en su viaje de aprendizaje. Ya sea que estés buscando adquirir nuevas habilidades para avanzar en tu carrera o simplemente desees explorar tu pasión por la tecnología, estamos aquí para ayudarte a alcanzar tus metas. Únete a nosotros y comienza tu viaje hacia el éxito en el emocionante mundo de la tecnología.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}