
<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Cursagia</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="{% static 'AppCoder/css/styles.css' %} " rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-light bg-secondary static-top ">
            <div class="container">
                <a class="menu_principal" href="{% url 'inicio' %}">Inicio</a>
                    <a class="menu_principal" href="{% url 'ver_cursos' %}">Cursos</a>
                    <a class="menu_principal" href="{% url 'alta_profesores' %}">Profesores</a>
                    <a class="menu_principal" href="{% url 'alta_alumnos' %}">Alumnos</a>
                    <a class="menu_principal" href="{% url 'Register' %}">Registrarse</a>
                {% if not request.user.is_authenticated %}
                    <a class="menu_principal" href="{% url 'login' %}">Iniciar sesión</a>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <a class="menu_principal" href="{% url 'perfil' %}">Perfil</a>
                {% endif %}
               
                {% if request.user.is_authenticated %}                   
                    <p class="letra-formulario">{{request.user.username}}</p>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="btn btn-dark text-info btn-sm" type="submit">Salir</button>
                    </form>
                    {% if avatar%}
                    <div class="campo">                       
                        <img src="{{ avatar.imagen_de_perfil.url }}" alt="Avatar" style="border: solid 0.5px #71d0d7; border-radius: 50%; " width="50px" height="50px">
                    {% else %}
                        <img src="static/AppCoder/assets/img/robot-repair.png" alt="Avatar" style="border: solid 0.5px #71d0d7; border-radius: 50%; " width="50px" height="50px">   
                    </div>
                     {% endif %}            
                {% endif %}
            </div>
        </nav>
        
        {% block contenido %}
       
        <header class="masthead">
            <div class="container position-relative">
                <h1 class="text-center" style="color:white">Cursagia</h1>
                <h2 class="text-center" style="color:white">Academia de Cursos Virtuales </h2>
                <p class="campo" style="color:white">Patrocinio de Coderhouse</p>
            </div>
        </header>

        {% endblock %}
        
        <footer class="footer bg-secondary ">
            <div class="container">
                <div class="row-footer">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="{% url 'Nosotros' %}">Nosotros</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Contacto</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Terminos de uso</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Politicas de privacidad</a></li>
                        </ul>
                        <p class="text-white small mb-4 mb-lg-0">&copy; Tu sitio web 2024. Todos los derechos reservados.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'AppCoder/js/scripts.js' %}"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
