{% extends "padre.html" %}

{% load static %}
        
{% block contenido %}
        <header class="masthead">
            <div class="container position-relative letra-formulario" >
                <h2>Nuevo usuario</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-info rounded btn-sm" type="submit">Registrarse</button>
                </form>    
               
            </div>
        </header>
        
{% endblock %}